@function layouts--grid-gutter-row($value, $flags) {
  $is-px-unit: unit($value) == 'px';
  $margin-left: if($is-px-unit, ceil(-$value / 2), (-$value / 2));
  $margin-right: if($is-px-unit, floor(-$value / 2), (-$value / 2));

  @return (
    ('margin-left', $margin-left, $flags),
    ('margin-right', $margin-right, $flags),
  );
}

@function layouts--grid-gutter-col($value, $flags) {
  $is-px-unit: unit($value) == 'px';
  $padding-left: if($is-px-unit, ceil($value / 2), ($value / 2));
  $padding-right: if($is-px-unit, floor($value / 2), ($value / 2));

  @return (
    ('padding-left', $padding-left, $flags),
    ('padding-right', $padding-right, $flags),
  );
}

@function layouts--flexgrid-gutter-row($value, $flags) {
  @return (
    ('margin', -$value, $flags),
  );
}
