/**
 * layouts
 */

/**
 * container
 * ---------
 */

@if $container--enable {
  $container--selector: selector(new 'container' with $layout--synthax);

  @include statement($container--selector, (
    ('@include layouts--padding-x', $container--padding-x),
    ('box-sizing', border-box),
    ('margin-left', auto),
    ('margin-right', auto),
    ('max-width', 100%),
    ('width', $container--width),
  ));

  @include append-clearfix($container--selector);
}

/**
 * grid
 * ----
 */



@if $grid--enable {
  $grid--selector: selector(new 'grid' with $layout--synthax);

  @include statement($grid--selector, (
    ('@include layouts--grid-gutter-row', $grid--gutter),
  ));

  @include append-clearfix($grid--selector);


  $grid-col--selector: selector(set $grid--selector element 'col');

  @include statement($grid-col--selector, (
    ('@include layouts--grid-gutter-col', $grid--gutter),
    ('float', left),
    ('position', relative),
    ('min-height', 1px),
    ('width', 100%),
    ('box-sizing', border-box),
  ));

  @each $breakoint, $fork in map-get($trowel-config, breakpoints) {
    @for $size from 1 through $grid--columns {
      $grid-col-item--selector: selector(append $grid-col--selector modifier-element '#{$breakoint}-#{$size}');

      @include statement($grid-col-item--selector, (
        ('width', percentage($size / $grid--columns), '@#{$breakoint}'),
      ));
    }
  }
}

/**
 * flex-grid
 * ---------
 */

@if $flexgrid--enable {
  $flexgrid--selector: selector(new 'flex-grid' with $layout--synthax);

  @include statement($flexgrid--selector, (
    ('display', flex),
    ('flex-wrap', $flexgrid--flex-wrap),
    ('justify-content', $flexgrid--justify-content),
    ('align-items', $flexgrid--align-items),
    ('@include layouts--flexgrid-gutter-row', $flexgrid--gutter),
  ));


  $flexgrid-col--selector: selector(set $flexgrid--selector element 'col');

  @include statement($flexgrid-col--selector, (
    ('flex-grow', $flexcol--flex-grow),
    ('flex-shrink', $flexcol--flex-shrink),
    ('flex-basis', $flexcol--flex-basis),
    ('margin', $flexgrid--gutter),
  ));
}
