$container--enable: null !default; // not a trowel variable
$container--padding-x: null !default;
$container--width: null !default;

$grid--enable: null !default; // not a trowel variable
$grid--gutter: null !default;
$grid--columns: null !default; // not a trowel variable

$flexgrid--enable: null !default; // not a trowel variable
$flexgrid--gutter: null !default;
$flexgrid--flex-wrap: null !default;
$flexgrid--align-items: null !default;
$flexgrid--justify-content: null !default;

$flexcol--flex-grow: null !default;
$flexcol--flex-shrink: null !default;
$flexcol--flex-basis: null !default;
